@import "./assets/fonts/stylesheet.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Proxima Nova Rg;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}

// Header
.navigation {
  max-width: 499px;
  width: 100%;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &_element {
      &_link {
        color: $black;
      }
      &-more {
        background: url("./assets/img/arrow_down.svg") right no-repeat;
        padding-right: 22px;
        cursor: pointer;
        color: $black;
      }
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background: $grey;
  box-shadow: 0 2px 4px 0 $lightGrey;
}
.dropdown {
  margin-left: 226px;
  cursor: pointer;
  &__imgWrapper {
    display: flex;
    padding: 8px 10px;
    border-radius: 5px;
    background: $white;
  }
  &__img {
    padding-right: 26px;
    background: url("./assets/img/ball_arrow_down.svg") no-repeat right;
  }
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #5A60E7;
  border-radius: 50%;
  &__img {
    padding: 1px;
    cursor: pointer;
  }
}
.cart {
  position: relative;
  &__counterWrapper {
    position: absolute;
    top: 14px;
    right: -6px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $cyan;
  }
  &__counter {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    font-style: normal;
  }
}

// Main
.main {
  display: flex;
  padding: 20px 40px 0 40px;
}
//aside profile
.aside {
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 $lightGrey;
  &__header {
    background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
    border-radius: 10px;
    height: 184px;
    width: 295px;
    &_top {
      display: flex;
      padding: 20px;
      &_img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        padding: 1px;
        border-radius: 50%;
        border: 2px solid #FF795B;
      }
    }
    &_block {
      font-size: 30px;
      font-weight: 400;
      line-height: 33px;
      color: $white;
      &_ratio {
        position: relative;
        display: inline-block;
        &-span {
          position: absolute;
          top: 0;
          right: -45px;
          display: flex;
          padding: 2px 3px 1px 6px;
          border-radius: 10px;
          background: $blue;
          font-size: 12px;
          line-height: 13.2px;
          &-arrow {

          }
        }
      }
      &_name {
        font-size: 20px;
        line-height: 22px;
      }
      &_surname {
        display: block;
      }
    }
    &_edit {
      display: flex;
      margin: 30px 0 0 23px;
      cursor: pointer;
      &_img {

      }
      &_p {
        margin-left: 9px;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        text-decoration: underline;
        color: $halfBlue;
      }
    }
  }
  &__menu {
    padding: 50px 65px 50px 20px;
    &_element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 210px;
      padding: 5px 17px 5px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      user-select: none;
      transition: .3s color ease-in-out, .3s background-color ease-in-out;
      &-active,
      &:hover {
        color: $blue;
        background: $tenPercentBlue;
      }
      &-active {
        & .aside__menu_arrowUp {
          transform: rotate(180deg);
        }
      }
      &_userIcon {
        flex: .5;
      }
      &_p {
        flex: 2;
      }
      &_quit {
        margin-top: 50px;
      }
    }
    &_arrowUp {
      transform: rotate(0deg);
      transition: .3s transform ease-in-out;
    }
  }
  &__submenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    animation: .3s ease-in-out submenuOpen;
    transition: height .3s ease-in-out;
    &_list {
      max-width: 190px;
      width: 100%;
      &_element {
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        color: $black;
        transition: .3s color ease-in-out, .3s background-color ease-in-out;
        &-active,
        &:hover {
          background: $tenPercentBlue;
          color: $blue;
        }
      }
    }
    &-disabled {
      display: none;
      height: 0;
      animation: .3s ease-in-out submenuClose;
      transition: height .3s ease-in-out;
    }
  }
}
// stats main
.stats {
  width: 100%;
  max-height: 184px;
  display: flex;
  margin-left: 50px;
  padding: 10px 20px 14px;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
  border-radius: 10px;
}

//achievements
.achievement {
  max-width: 275px;
  width: 100%;
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $twentyFivePercentBlue;
    &_active {
      display: flex;
    }
    &_disabled {
      display: flex;
      & > .achievement__top_block {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    &_block {
      position: relative;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &_span {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 2;
        padding: 1.5px 3.5px .5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $white;
        font-size: 12px;
        font-weight: 400;
        line-height: 13.2px;
        color: $blue;
      }
    }
  }
  &__bottom {
    display: flex;
    margin-top: 15px;
    &_block {
      margin: 0 0 15px 0;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

//seasons
.seasons {
  margin-left: 50px;
  &__toggle {
    display: flex;
    padding: 5px;
    border: 1px solid $blue;
    border-radius: 3px;
    &_button {
      padding: 6px 61px;
      font-size: 16px;
      font-weight: 400;
      line-height: 17.6px;
      border-radius: 3px;
      cursor: pointer;
      color: $halfBlue;
      background: transparent;
      transition: .3s background-color ease-in-out;
      &:hover {
        background: rgba($white, .1);
      }
      &-active {
        color: $white;
        background: $blue;
        &:hover {
          color: $white;
          background: $blue;
        }
      }
    }
  }
  &__games {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &_wrapper {
      max-width: 95px;
      width: 100%;
      height: 75px;
      padding: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background: linear-gradient(to left top, $blue 10%,  transparent 30%, transparent 70%, $blue 90%);
      &_content {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 5px;
        background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
        cursor: pointer;
        &_name {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          text-transform: capitalize;
          color: $white;
        }
        &_count {
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 42px;
          text-align: right;
          color: $red;
        }
      }
    }
  }
}

//share
.share {
  margin-left: 44px;
  max-width: 165px;
  width: 100%;
  background: url("./assets/img/Pattern.svg") no-repeat right;
}

@keyframes submenuOpen {
  0% { height: 0; opacity: 0; }
  100% { height: 100%; opacity: 1; }
}

@keyframes submenuClose {
  0% { height: 100%; opacity: 1;}
  100% { height: 0; opacity: 0; }
}
