@import "./assets/fonts/stylesheet.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Proxima Nova Rg;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.navigation {
  max-width: 499px;
  width: 100%;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &_element {
      &_link {
        color: $black;
      }
      &-more {
        background: url("./assets/img/arrow_down.svg") right no-repeat;
        padding-right: 22px;
        cursor: pointer;
        color: $black;
      }
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background: $grey;
  box-shadow: #e9e9e9;
}
.dropdown {
  margin-left: 226px;
  cursor: pointer;
  &__img {
    padding-right: 26px;
    background: url("./assets/img/ball_arrow_down.svg") no-repeat right $white;
    border-radius: 5px;
  }
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #5A60E7;
  border-radius: 50%;
  &__img {
    padding: 1px;
    cursor: pointer;
  }
}
.cart {
  position: relative;
  &__counterWrapper {
    position: absolute;
    top: 14px;
    right: -6px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $cyan;
  }
  &__counter {




    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    font-style: normal;
  }
}
